[safe]
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
	directory = /go/src/github.com/rancher/local-path-provisioner
