kind: ConfigMap
apiVersion: v1
metadata:
  name: local-path-config
  namespace: local-path-storage
data:
  config.json: |-
    {
            "nodePathMap":[
            {
                    "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
                    "paths":["/opt/local-path-provisioner"]
            },
            {
                    "node":"yasker-lp-dev1",
                    "paths":["/opt/local-path-provisioner", "/data1"]
            },
            {
                    "node":"yasker-lp-dev3",
                    "paths":[]
            }
            ],
            "storageClassConfigs": {
                    "local-path-limited": {
                            "minSize": "1Gi",
                            "maxSize": "50Gi",
                            "nodePathMap": [
                            {
                                    "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
                                    "paths": [
                                            {"path": "/opt/local-path-provisioner", "maxCapacity": "200Gi"}
                                    ]
                            }
                            ]
                    }
            }
    }
  setup: |-
    #!/bin/sh
    set -eu
    mkdir -m 0777 -p "$VOL_DIR"
  teardown: |-
    #!/bin/sh
    set -eu
    rm -rf "$VOL_DIR"
  helperPod.yaml: |-
    apiVersion: v1
    kind: Pod
    metadata:
      name: helper-pod
    spec:
      priorityClassName: system-node-critical
      tolerations:
        - key: node.kubernetes.io/disk-pressure
          operator: Exists
          effect: NoSchedule
      containers:
      - name: helper-pod
        image: busybox
        imagePullPolicy: IfNotPresent
