apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../deploy

patches:
- target:
    kind: ConfigMap
    name: local-path-config
  patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: local-path-config
      namespace: local-path-storage
    data:
      config.json: |-
        {
          "nodePathMap": [
            {
              "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
              "paths": [
                {"path": "/opt/local-path-provisioner", "maxCapacity": "200Gi"}
              ]
            }
          ]
        }
